{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro e consulta de alunos.</title>
    <link rel="shortcut icon" href="{% static 'imagens/brasao.png' %}" type="image/x-icon">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/media-query.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
    
</head>
<body>
    <header>
        <h1>Cadastro de Aluno</h1>
        <div class="header-image">
            <img src="{% static 'imagens/brasao3.png' %}" alt="Imagem do Cabeçalho">
        </div>
    </header>
    <input type="text" id="busca" placeholder="Digite o nome do aluno">
    <button onclick="buscarAluno()">Buscar</button>
    <div id="resultados"></div>

    <a href="{% url 'cadastro' %}"><button>Cadastrar Aluno</button></a>

    
</body>
</html>